<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/style") %>
        <style>
            div.maqsad {
                padding: 50px;
                margin-left: 40px;
                margin-right: 40px;
            }
        </style>
        <title>See the books of this Genre</title>
</head>

<body>
    <%- include("./partials/navbar") %>
        <div class="maqsad">
            <h2 style="display:inline;">
                <%= locals.genre %> <h3>(<%= locals.allBooks.length %>)</h3>
            </h2>
            


            <div class="wrap"
                style="display: flex; flex-wrap: wrap; flex-direction: row; gap:10px;">
                <% (locals.allBooks).forEach(book=> { %>
                    <div class="card" style="width: 18rem; border-radius: 10px;">
                        <img src="<%= book.coverImageURL %>" style="border-radius: 10px;" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= book.bookTitle %></h5>
                          <a onclick="getBook('<%= book.id %>','<%=book.genre %>')" class="btn btn-primary">Click here for more details</a>
                        </div>
                      </div>
                    <% }) %>

            </div>
        </div>






        <%- include("./partials/script") %>

        <script>
            function getBook(id,genre){
                window.location.href = `http://localhost:8000/book/getbooks/${genre}/${id}`;
            }
        </script>
</body>

</html>