<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/style") %>
        <style>
            div.maqsad {
                padding: 50px;
                margin-left: 40px;
                margin-right: 40px;
            }

            div#display:hover {
                cursor: pointer;
            }
        </style>
        <title>The Nerd</title>
</head>

<body>
    <% if (locals.success==false && locals.Error) { %>
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>
                <%= locals.Error %>
            </strong>
        </div>
        <% } %>
            <% if (locals.success && locals.message) { %>
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>
                        <%= locals.message %>
                    </strong>
                </div>

                <% } %>
                    <%- include("./partials/navbar") %>
                        <div class="maqsad">
                            <div id="quote">
                                <h1 style="font-size:3em;">“Books are mirrors:<br> 
                                    you only see in them<br>
                                     what you already have inside you.”<br>
                                      – <i style="font-size: 20px;">Carlos Ruiz Zafon</i>

                                </h1>
                            </div>

                            <h1 style="text-decoration: underline; margin-top: 88px">Top Genres</h1>
                            <div style="display: flex; flex-wrap: wrap; flex-direction: row; gap:10px; ;">
                                <% if (locals.allGenres) { %>
                                    <% (locals.allGenres).forEach(genre=> { %>
                                        <div id="display" onclick="gettBooks('<%= genre.title %>')"
                                            class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                            <div class="card-body"
                                                style="background-image: url('<%= genre.coverPic %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                                <h4 class="card-title">
                                                    <%= genre.title %>
                                                </h4>
                                                <p class="card-text">
                                                    <%= genre.info %>
                                                </p>
                                            </div>
                                        </div>
                                        <% }) %>

                                            <% } %>
                            </div>

                        </div>
                        <%- include("./partials/script") %>
                            <script>
                                function gettBooks(genre) {
                                    window.location.href = `http://localhost:8000/book/getbooks/${genre}`
                                }
                            </script>
</body>

</html>