<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/style") %>
        <style>
            div.maqsad {
                padding: 50px;
                margin-left: 40px;
                margin-right: 40px;
            }
        </style>
        <title>HOME</title>
</head>

<body>
    <% if (locals.success == false && locals.Error) { %>
        <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><%= locals.Error %></strong>
          </div>
    <% } %>
    <% if (locals.success && locals.message) { %>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><%= locals.message %></strong>
        </div>
     
    <% } %>
    <%- include("./partials/navbar") %>
        <div class="maqsad">
            <h1>Home</h1>
            <% if (locals.user) { %>
             <h2><%= locals.user.name %></h2>
            <% } %>
        </div>
        <%- include("./partials/script") %>
</body>

</html>